environment = "dev"
location = "region"
project = "chrisclaude-blog"
sql_admin_user = "sql_admin_user"
sql_admin_password = "sql_admin_password"
entra_tenant_name = "entra_tenant_name"
entra_tenant_domain = "entra_tenant_domain"
ciam_location = "europe"
app_domain = "yourapp.azurewebsites.net"
spa_domain          = "frontend_domain.com"