environment         = "<environment>"
location            = "<location>"
project             = "<project_name>"
sql_admin_user      = "<sql_admin_user>"
sql_admin_password  = "<sql_admin_password>"
entra_tenant_domain = "<entra_tenant_domain>"
entra_tenant_id     = "<entra_tenant_id>"
entra_client_id     = "<entra_client_id>"
entra_client_secret = "<entra_client_secret>"
app_domain          = "<app_domain>"
spa_domain          = "<spa_domain>"
subscription_id     = "<subscription_id>"
tenant_id           = "<tenant_id>"
