APP_ENV = 
S3_BUCKET = 
S3_REGION = 
S3_MAX_KEYS = 
NEXT_PUBLIC_S3_HOME_MAX_KEYS = 
NEXT_PUBLIC_ARTICLES_PER_PAGE = 
NEXT_PUBLIC_ROOT_URL = 

# Add Resune Info here
NEXT_PUBLIC_PHONE_NUMBER=""
NEXT_PUBLIC_EMAIL_ADDRESS=""

# Azure AD B2C Config
NEXT_PUBLIC_AZURE_AD_B2C_TENANT_NAME=""
NEXT_PUBLIC_AZURE_AD_B2C_TENANT_ID=""
NEXT_PUBLIC_AZURE_AD_B2C_CLIENT_ID=""
NEXT_PUBLIC_AZURE_AD_B2C_CLIENT_SECRET=""
NEXT_PUBLIC_AZURE_AD_B2C_PRIMARY_USER_FLOW=""
NEXT_PUBLIC_AZURE_AD_B2C_API_SCOPE=""
NEXT_PUBLIC_TENANT_DOMAIN=""
NEXT_PUBLIC_APPLICATION_INSIGHTS_CONNECTION_STRING=""