@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

.landing-section::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0%;
  bottom: 10%;
  width: 150%;
  left: -25%;
  background: linear-gradient(83.21deg,#3245ff 0%,#bc52ee 100%);
  mask-image: radial-gradient(rgba(0,0,0,.45),transparent 70%);
  -webkit-mask-image: radial-gradient(rgba(0,0,0,.45),transparent 70%);
}